[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "hclusteasy"]
	path = hclusteasy
	url = https://github.com/tsukubai/hclusteasy
